/*Style sheet created by CSS branch*/
body{
	margin: 0px;
}


header{
	height:100px;
	color: #0a0d66;
	background-color:#02a3ff;
	font-weight: bold;
	font-size: 2em;
	padding-left:20px;
	line-height:100px;
	text-transform:uppercase;
}

section.main{
	min-height:420px;
	padding:20px;
	color:#060b3d;
	background-color:#eaf7fc;
	font-size:1.5em;
}

.title{
	text-align:center;
	letter-spacing:0.5em;
}

footer{
	color:#ffffff;
	background-color:#0a0d66;
	height:50px;
	line-height:50px;
	text-align:center;
}